<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FlockStats</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/nv.d3.css">

<style>

#sitespie svg {
  height: 400px;
}

#birdspie svg {
  height: 400px;
}
#gbirdspie svg {
  height: 400px;
}
#overview svg{
    height: 400px;
    width: 100%;
}
#weather svg{
    height: 400px;
    width: 100%;
}

#sun svg{

    width: 100%;
}

#detail svg {
  height: 400px;
    width: 100%;
}

</style>
</head>

<body>
<h1 id="name"></h1>
<h3>Eggs: <span id="total"></span></h3>
<h3>Birds:<span id="birds"></span></h3>
<h3>Days:<span id="days"></span></h3>
<h3>Eggs/Day:<span id="eggsday"></span></h3>
<div id="sitespie">
    <svg></svg>
</div>
<div id="birdspie">
    <svg></svg>
</div>
<div id="gbirdspie">
    <svg></svg>
</div>
<div id="sun">
    <svg></svg>
</div>

<div id="overview">
    <svg></svg>
</div>

<div id="weather">
    <svg></svg>
</div>



<div id="detail">
  <svg></svg>
</div>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/novus/nvd3/master/nv.d3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $.getJSON('api/flocks/1', function(data) {
        $('#name').html(data.name);
        $('span#total').html(data.egg_count);
        $('span#birds').html(data.bird_count);
        $('span#eggsday').html(data.eggs_per_day.toFixed(2));
        $('span#days').html(data.days_laying);

    });
</script>
<script type="text/javascript">
d3.json('/stats/detail', function(data) {
    nv.addGraph(function() {
        var chart = nv.models.multiBarChart()
          .transitionDuration(350)
          .reduceXTicks(true)   //If 'false', every single x-axis tick label will be rendered.
          .rotateLabels(0)      //Angle to rotate x-axis labels.
          .showControls(true)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
          .groupSpacing(0.1)    //Distance between each group of bars.
        ;

        chart.xAxis
            .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

        chart.yAxis
            .tickFormat(d3.format(',1f'));

        d3.select('#detail svg')
            .datum(data)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

});
d3.json('/stats/eggsbysite', function(data) {
  nv.addGraph(function () {
      var chart = nv.models.pieChart()
              .x(function (d) {
                  return d.label
              })
              .y(function (d) {
                  return d.value
              })
              .showLabels(true);
       chart.tooltipContent(function(key, x, y, e, graph) {
	        return '<h3>' + key + '</h3><p>' + d3.format(',1f')(x) + '</p>' });
      d3.select("#sitespie svg")
              .datum(data)
              .transition().duration(1200)
              .call(chart);

      return chart;
  });
});

d3.json('/stats/gramsbybird', function(data) {
  nv.addGraph(function () {
      var chart = nv.models.pieChart()
              .x(function (d) {
                  return d.label
              })
              .y(function (d) {
                  return d.value
              })
              .showLabels(true);
       chart.tooltipContent(function(key, x, y, e, graph) {
	        return '<h3>' + key + '</h3><p>' + y['value'] + '</p>' });
      d3.select("#gbirdspie svg")
              .datum(data)
              .transition().duration(1200)
              .call(chart);

      return chart;
  });
});

d3.json('/stats/eggsbybird', function(data) {
  nv.addGraph(function () {
      var chart = nv.models.pieChart()
              .x(function (d) {
                  return d.label
              })
              .y(function (d) {
                  return d.value
              })
              .showLabels(true);
       chart.tooltipContent(function(key, x, y, e, graph) {
	        return '<h3>' + key + '</h3><p>' + d3.format(',1f')(x) + '</p>' });
      d3.select("#birdspie svg")
              .datum(data)
              .transition().duration(1200)
              .call(chart);

      return chart;
  });
});

d3.json('/stats/overview', function(data) {
    nv.addGraph(function () {
        var chart = nv.models.linePlusBarChart()
                        .margin({top: 30, right: 60, bottom: 50, left: 70})
                        .x(function (d, i) {
                            return Date.parse(d[0])
                        })
                        .y(function (d) {
                            return d[1]
                        })
                        .color(d3.scale.category10().range())
                ;
            chart.tooltipContent(function(key, x, y, e, graph) {
	        return '<h3>' + key + '</h3><p>' + d3.format(',.02f')(y) + ' at ' + d3.time.format(x) + '</p>' });
        chart.xAxis
            .axisLabel('Date')
            .tickFormat(function(d) {
                  return d3.time.format('%x')(
                          new Date(d)
                  ) });


        chart.y1Axis
                .axisLabel('Qty')
                .tickFormat(d3.format(',f'));

        chart.y2Axis
                .axisLabel('Total Gms')
                .tickFormat(function (d) {
                    return  d3.format(',.02f')(d)
                });

        chart.bars.forceY([0]);

        d3.select('#overview svg')
                .datum(data)
                .transition().duration(500)
                .call(chart)
        ;

        nv.utils.windowResize(chart.update);

        return chart;
    });
});

d3.json('/weather/daily/90', function(data) {
   nv.addGraph(function() {
    var chart = nv.models.linePlusBarChart()
      .margin({top: 30, right: 60, bottom: 50, left: 70})
      .x(function(d,i) { return Date.parse(d[0]) })
      .y(function(d) { return d[1] })
      .color(d3.scale.category10().range())
      ;

    chart.xAxis
      .showMaxMin(false)
      .tickFormat(function(d) {
                  return d3.time.format('%x')(
                          new Date(d)
                  ) });

    chart.y1Axis
      .tickFormat(d3.format(',.1f'));

    chart.y2Axis
      .tickFormat(d3.format(',.1f'));

    chart.bars.forceY([0]);

    d3.select('#weather svg')
      .datum(data)
      .transition().duration(500)
      .call(chart)
      ;

    nv.utils.windowResize(chart.update);

    return chart;
});
});


d3.json('/weather/sun/90', function(data) {
   nv.addGraph(function() {
    var chart = nv.models.linePlusBarChart()
      .margin({top: 30, right: 60, bottom: 50, left: 70})
      .x(function(d,i) { return Date.parse(d[0]) })
      .y(function(d) { return d[1] } )
      .color(d3.scale.category10().range())
      ;
       chart.tooltipContent(function(key, x, y, e, graph) {
        return '<h3>' + key + '</h3><p>' + d3.format(',.02f')(e.point[1]) + ' on ' + x + '</p>'
    });


    chart.xAxis
      .showMaxMin(false)
      .tickFormat(function(d) {
                  return d3.time.format('%x')(
                          new Date(d)
                  ) });

    chart.y1Axis
      .tickFormat(d3.format(',.02f'));

    chart.y2Axis
      .tickFormat(d3.format(',f'));

    chart.bars.forceY([0]);

    d3.select('#sun svg')
      .datum(data)
      .transition().duration(500)
      .call(chart)
      ;

    nv.utils.windowResize(chart.update);

    return chart;
});
});


</script>
</body>
</html>